@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

html {
  height: 100%;
  body {
    margin: 0;
    height: inherit;
  }
}

mat-dialog-container {
  font-family:  mat-font-family(mat-typography-config());
}
